<div class="collapsible">
  <div class="collapsible__header">
    <h2 class="collapsible__header__title">Internet of Things</h2>
    <svg
      class="
        collapsible__header__btn collapsible__header__icon
        icon icon-primary
      "
    >
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    Nisi sunt dignissimos neque error, expedita at soluta modi odit quia.
    Excepturi iusto ut fugiat quas optio at consequuntur ea odio iste sed eos
    blanditiis quod fuga sunt et similique saepe, quasi consectetur maxime.
    Cumque ea autem expedita iusto laboriosam ipsa voluptas accusantium
    consequuntur eveniet quae.
  </div>
</div>
