<ul class="list">
  <li class="list__item">item 01</li>
  <li class="list__item">item 02</li>
  <li class="list__item">item 03</li>
  <li class="list__item">item 04</li>
  <li class="list__item">item 05</li>
</ul>
<ul class="list list--inline">
  <li class="list__item">item 01</li>
  <li class="list__item">item 02</li>
  <li class="list__item">item 03</li>
  <li class="list__item">item 04</li>
  <li class="list__item">item 05</li>
</ul>
<ul class="list list--tick">
  <li class="list__item">item 01</li>
  <li class="list__item">item 02</li>
  <li class="list__item">item 03</li>
  <li class="list__item">item 04</li>
  <li class="list__item">item 05</li>
</ul>
